/laravelfiles/bootstrap/compiled.php
/laravelfiles/vendor
/laravelfiles/composer.phar
/laravelfiles/composer.lock
/laravelfiles/app/config/database.php.prod
/uploads
.env.*.php
.env.php
.DS_Store
Thumbs.db
