<div class="container prodindex" ng-init="getProductsByCat();reloadCarousel()">
    <!-- Begin of rows -->
    <div class="row carousel-row" ng-repeat="product in products | filter: query">
        <div class="col-xs-8 col-xs-offset-2 slide-row">
            <div id="carousel" class="carousel slide slide-carousel" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    <a href="http://lateliermac.com/uploads/<%product.id%>/<%product.photo1%>" class="fancybox" rel="<% product.id %>">
                        <img ng-src="http://lateliermac.com/uploads/<%product.id%>/<%product.photo1%>" alt="Image">
                    </a>
                </div>
                <div class="item">
                    <a href="http://lateliermac.com/uploads/<%product.id%>/<%product.photo2%>" class="fancybox"  rel="<% product.id %>">
                        <img ng-src="http://lateliermac.com/uploads/<%product.id%>/<%product.photo2%>" alt="Image">
                    </a>
                </div>
                <div class="item">
                    <a href="http://lateliermac.com/uploads/<%product.id%>/<%product.photo3%>" class="fancybox"  rel="<% product.id %>">
                        <img ng-src="http://lateliermac.com/uploads/<%product.id%>/<%product.photo3%>" alt="Image">
                    </a>
                </div>
              </div>
            </div>
            <div class="slide-content">
                <h4>
                  <% product.name %>
                </h4>
                <p>
                    <% product.description %>
                </p>
            </div>
            <div class="slide-footer">
                <span class="pricelab label label-primary label-lg">
                  <% product.prix %> €
                </span>
                &nbsp;
                <a style="font-size: 13px!important;line-height: 1.3;" class="btn btn-default btn-sm" ng-if="product.prix == 0" ng-click="notifForm(product.id)" data-toggle="modal" data-target="#notifModal">Me prévenir si ce produit est à nouveau disponible</a>
                <span class="pull-right buttons">
                    <button ng-click="showByProductId(product.id)" class="btn btn-sm btn-primary more"><i class="fa fa-fw fa-eye"></i> Voir +</button>
                </span>
            </div>
        </div>
    </div>
</div>
